.glass-panel {
  display: inline-block;
  background: rgba(255, 255, 255, 0.6);
  padding: 1.5em;
  border-radius: 3em;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(15px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  font-size: 18px;
  width: 25em;
}

.glass-panel h2 {
  font-size: 1.5em;
}

.glass-panel h1,
.glass-panel h2 {
  margin: 0;
}

.title,
.description {
  font-family: "Josefin Sans", sans-serif;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 0.9em;
}

.main-img {
  overflow: hidden;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: solid 1px #00000035;
}

.main-img img {
  position: relative;
  height: 8rem;
  left: -15px;
  display: inline-block;
}

#basic-info {
  text-align: left;
  margin-left: 1.5em;
}

.row {
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.row h2 {
  margin-bottom: 0.5rem;
}

.row p,
.subtitle li {
  margin: 0 10px 2px;
}

.row > * {
  display: inline-block;
}

.subtitle ul {
  margin: 0;
  text-align: left;
  padding: 0;
  list-style: none;
}

.subtitle li {
  width: fit-content;
}

.subtitle hr {
  background: #00000035;
  border: none;
  height: 0.5px;
}

.svg-inline--fa {
  width: 25px !important;
  filter: blur(0.35px);
  vertical-align: middle;
  margin-left: -3px;
}

#timeline {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-bottom: 1.5em;
  text-overflow: ellipsis;
}

.glass-panel .container {
  height: 100%;
}

#timeline section {
  display: inline-flex;
  height: 4em;
  width: min-content;
}

#timeline section:hover {
  cursor: pointer;
}

#timeline section:hover circle,
#timeline section:hover h3,
#timeline section:hover h4,
#timeline section:hover svg,
#timeline section:hover .bracket:nth-child(2),
#timeline section:hover .bracket:nth-child(3) {
  stroke: #00000089;
  color: #00000089;
}

#timeline section circle,
#timeline section h3,
#timeline section h4,
#timeline section .bracket:nth-child(2),
#timeline section .bracket:nth-child(3) {
  transition: stroke 0.15s ease-out, color 0.15s ease-out;
}

#timeline .row {
  height: min-content;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column;
  left: 1.5em;
}

#timeline .bracket {
  font-size: 3em;
  left: 0;
  margin-right: -15px;
  margin-top: 2.5px;
}

#timeline .bracket:nth-child(1):hover,
.mainline:hover {
  cursor: default;
}

#timeline .bracket:nth-child(1):hover ~ .bracket,
#timeline .bracket:nth-child(1):hover ~ .row *,
#timeline .bracket:nth-child(1):hover ~ .checkpoint *,
#timeline .mainline:hover ~ .checkpoint *,
#timeline .mainline:hover ~ .row * {
    color: black;
    stroke: black;
}

.checkpoint {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.mainline {
  position: relative;
  margin-left: auto;
  transform: translate(-50%, 50%);
  right: calc(100% - 24px);
  margin-top: -40px;
}

.mainline line {
  stroke: rgb(0, 0, 0);
  stroke-width: 16;
}

.glass-panel ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.glass-panel ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

/* Handle */
.glass-panel ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.glass-panel ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 768px) {
}
