.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.page {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 4em);
  text-align: left;
  padding: 0 2em 2em;
  box-sizing: border-box;
}

h3, h4 {
  margin: 0;
}

.background-image {
  position: absolute;
  height: 100vh;
  left: -2em;
}