.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.page {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 4em);
  text-align: left;
  padding: 1em 2em 2em;
  box-sizing: border-box;
}

h3,
h4 {
  margin: 0;
}

.background-image {
  position: absolute;
  overflow: auto;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position-x: -1.5rem;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .background-image {
    position: absolute;
    background-size: cover;
    background-position-x: -10rem;
    left: 0;
  }

  .page {
    height: max-content;
    padding: 1em 0.5em 0.5em;
    top: 4em;
  }

  header {
    padding: 0 0.5rem;
  }
}
